@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  transition: all 0.3s ease-in-out;
  animation: render 0.5s;
}
@keyframes render {
  0% {
    transform: translateY(-4px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
